body {
    background-color: rgb(250, 238, 179);
}

#button {
    width: 60px;
    height: 30px;
}

#canvas {
    border: 1px solid black;
    display: block;
    position: relative;
    z-index: 1;
}

#pos {
    position: relative;
    z-index: 0;
}